/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html,
body {
  font-family: "Roboto", sans-serif;
  background: #151515;
  color: #ffffff;
}

.content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  opacity: 0.5;
}

.btn--text {
  background: none;
  border: none;
  font-weight: bold;
  height: 24px;
  color: #0000b5;
}

.btn--search {
  position: relative;
}

.btn--search:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath fill='%23FFFFFF' d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'%3E%3C/path%3E%3C/svg%3E");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 8px;
  width: 24px;
  height: 24px;
  margin: auto;
}

.book-list {
  overflow-y: scroll;
  max-height: calc(100vh - 56px - 56px);
}

.book-list__content {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-content: flex-start;
}

.book-list__item {
  width: calc(33.333% - (16px * 2 / 3));
  box-sizing: border-box;
  margin-right: 16px;
  margin-top: 16px;
}

.book-list__item:nth-child(3n) {
  margin-right: 0;
}

.book {
  background: #ffffff;
  border-radius: 8px;
  color: #151515;
  overflow: hidden;
  position: relative;
  height: 480px;
  display: flex;
  flex-direction: column;
}

.book__image {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.book__info {
  background: #ffffff;
  height: 88px;
  width: 100%;
  margin-top: auto;
  position: relative;
  z-index: 1;
  padding: 8px 12px 0;
  box-sizing: border-box;
}

.book__year {
  position: absolute;
  top: -12px;
  right: 0;
  font-size: 12px;
  z-index: 1;
  height: 12px;
  background: #ffffff;
  padding: 2px 0 0 2px;
  border-top-left-radius: 4px;
}

.book__name {
  line-height: 24px;
  height: 48px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book__btn {
  width: 50%;
  margin-left: 50%;
  text-align: right;
}

.book--on-hands {
  cursor: not-allowed;
  position: relative;
}

.book--on-hands:before {
  content: "";
  background: rgba(0, 0, 0, 0.75);
  height: calc(100% - 88px);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.book--on-hands:after {
  content: "Книга на руках";
  position: absolute;
  z-index: 3;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.book--on-hands .book__btn {
  color: maroon;
}

.book--soon {
  cursor: not-allowed;
  position: relative;
}

.book--soon:before {
  content: "";
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.book--soon:after {
  content: "Скоро";
  position: absolute;
  z-index: 3;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.book--soon .book__btn {
  color: gray;
}

.footer {
  background: #ffffff;
  height: 56px;
  color: #151515;
}

.footer__content {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.header {
  background: #ffffff;
  height: 56px;
  color: #151515;
}

.header__content {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__search {
  margin-left: auto;
}

.search-bar {
  display: flex;
  width: 320px;
  height: 32px;
}

.search-bar__btn {
  color: transparent;
  height: 32px;
  width: 48px;
}

.search-bar__input {
  flex: 1;
  border-radius: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #151515;
  border-right: none;
  padding-left: 16px;
}

.search-bar__btn {
  border-radius: 16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #151515;
  border-right: none;
  background: #151515;
}
