.btn--search {
  position: relative;
}

  .btn--search:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath fill='%23FFFFFF' d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'%3E%3C/path%3E%3C/svg%3E");
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 8px;
    width: 24px;
    height: 24px;
    margin: auto;
  }

.footer {
  background: #FFFFFF;
  height: 56px;
  color: #151515;
  /*  margin-top: 32px;*/
}

.footer__content {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.header {
  background: #FFFFFF;
  height: 56px;
  color: #151515;
}

.header__content {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__search {
  margin-left: auto;
}

.search-bar {
  display: flex;
  width: 320px;
  height: 32px;
}

.search-bar__btn {
  color: transparent;
  height: 32px;
  width: 48px;
}

.search-bar__input {
  flex: 1;
  border-radius: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #151515;
  border-right: none;
  padding-left: 16px;
}

.search-bar__btn {
  border-radius: 16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #151515;
  border-right: none;
  background: #151515;
}
